<div class="edu pt-5">
    <div class="container">
        <h3 class="education mb-3 text-center">EDUCATION</h3>
        <div class="d-flex flex-column text-center pt-5 align-items-center justify-content-evenly">
            <div class="col-sm-4 ">
                        <h3 class="degree">BACHALOR DEGREE</h3>
                        <h3 class="degree2 text-white">Faculty of Computers and Artificial Intelligence </h3>
                        <h3 class="degree2 text-white">Major: Computer Science </h3>
                        <h3 class="degree2 text-white" >Cairo University </h3>
                        <p class="date">SEP 2020 - MAY 2024</p>
            </div>
            <div class="col-sm-1 line mb-4 mt-4"></div>
            <div class="col-sm-4">
                <h3 class="degree">FRONT-END COURSE
                </h3>
                <h3 class="degree2 text-white ">Route
                    Academy </h3>
                <p class="date">MAY 2023 - SEP 2023</p>
            </div>
            <div class="col-sm-1 line mb-4 mt-4"></div>
                   <div class="col-sm-4 pb-4">
                       <h3 class="degree">DATA STRUCTURE
                            COURSE</h3>
                            <h3 class="degree2 text-white">Coach Academy
                            </h3>
                        <p class="date">FEB 2022 - MAY 2022</p>
                   </div>
                     
                    
            </div>
           
            
        </div>
    </div>
