.edu{
    background-color: #313741;
}
.education{
    color: #00f29c; 
    background-image: linear-gradient(45deg, #00f29c 20%, #29FFC6 50%, #0CEBEB 50%); 
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    font-weight: 700;
    font-size: 45px;
}
.line{
    background-color: #00d7bb;
    height: 4px;
    width: 50%;
}
.degree{
    color: #00d7bb;
    font-weight: 600;
    font-size: 20px;
}
.degree2{
    font-size: 15px;
}
.date{
    color: white;
}

.date{
  font-size: 12px;
}

