.about{
    background-color: #22252c;

}
.image{
    border: 6px solid #00d7bb;
    position: relative;
    height: 330px;
}
.image img{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 100%;
}
.about-me{
    color: #00f29c; 
    background-image: linear-gradient(40deg, #00f29c 10%, #29FFC6 20%, #0CEBEB 30%); 
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    font-weight: 700;
    font-size: 45px;
}
.right{
    margin-left: 90px;
}
.right p{
    font-size: 15px;
    line-height: 29px;
    font-weight: 300;
}
li{
    color: #00d7bb;
    font-size: 18px;
    font-weight: 700;
    line-height: 29px;
    margin-bottom: 15px;
}
li span{
    font-weight: 400;
}
@media screen and (max-width:800px) {
    .right{
        margin-left: 20px;
    }
}
.btn{
    background: rgb(12, 235, 235);
    background: -webkit-linear-gradient(to right, rgb(41, 255, 198), rgb(32, 227, 178), rgb(12, 235, 235));
    background: linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);
}