<div class="about p-5">
<div class="row me-0 container">
    <div class="col-sm-4 image ms-5 mt-5 me-5">
       <img src="assets/imgs/profile.jpg" alt="">
    </div>
    <div class="col-sm-6 mt-5 right">
     <h3 class="about-me mb-3 ">ABOUT ME</h3>
     <p class="text-white">Hello! I'm Nouran Mostafa. Highly motivated and detail-oriented Front-End Developer with a strong passion 
        for designing and developing scalable, responsive, and high-performing user 
        interfaces for web applications. Proficient in Angular, TypeScript, JavaScript, 
        HTML, and CSS, with experience in working with cross-functional teams to deliver 
        full-stack web and mobile solutions. </p>
        <ul class="list-unstyled">
            <li>NAME: <span class="text-white">Nouran Mostafa Abdelhamed</span></li>
            <li>DATE OF BIRTH: <span class="text-white">23 May 2001</span></li>
            <li>ADDRESS: <span class="text-white">Cairo, Egypt</span></li>
            <li>PHONE: <span class="text-white">01159377821</span></li>
            <li>E-MAIL: <span class="text-white">nourmostafa2197&#64;gmail.com</span></li>
        </ul>
        <button (click)="downloadFile()" class="btn text-white p-3"><i class="fa-solid fa-cloud-arrow-down me-1" style="color: #ffffff;"></i>Download Resume</button>
    </div>
</div>
</div>
