<div class="contacts mb-0 pt-5">
    <div class="container">
        <h3 class="education mb-5 text-center">CONTACT ME</h3>
        <div class="d-flex mt-5 pb-5 justify-content-center align-items-center">
            <div class="icons me-5 d-flex justify-content-center align-items-center">
                <a target="_blank" href="https://www.linkedin.com/in/nouran-mostafa-84b072220?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fa-brands fs-4 fa-linkedin-in brands"></i></a>
            </div>
            <div class="icons me-5 d-flex justify-content-center align-items-center">
                <a target="_blank" href="https://github.com/nouranmostafa235"><i class="fa-brands fs-4 fa-github brands"></i></a>
            </div>
            <div class="icons me-5 d-flex justify-content-center align-items-center">
                <a target="_blank" href="https://wa.me/+201159377821"><i class="fa-brands fs-4 fa-whatsapp brands"></i></a>
            </div>
            <div class="icons me-5 d-flex justify-content-center align-items-center">
                <a target="_blank" href="mailto:nourmostafa2197@gmail.com"><i class="fa-regular fs-4 fa-envelope brands"></i></a>
            </div>
        </div>
       
    </div>
</div>