<div class="projects pt-5">
    <div class="container">
        <h3 class="education mb-4 text-center">PROJECTS</h3>
        <div class="row">
            <div class="col-md-4 mb-4 d-flex align-items-stretch">
                <div class="card border-0 rounded-2 ">
                    <div class="image position-relative">
                        <img src="assets/imgs/rxgp.png" class="card-img-top" alt="...">
                        <div
                            class="layer d-flex justify-content-center align-items-center rounded-2 container position-absolute top-0 bottom-0 end-0 start-0">
                            <div class="icons me-3 d-flex justify-content-center align-items-center">
                                <a href="https://github.com/nouranmostafa235/graduationProject" target="_blank"
                                    class="text-decoration-none">
                                    <i class="fa-brands fs-2 fa-github" ></i>
                                </a>

                            </div>
                            <div class="icons d-flex justify-content-center align-items-center">
                                <a href="https://rapidrx.vercel.app/home" target="_blank"
                                    class="text-decoration-none"><i class="fa-solid fa-link fs-3"
                                        ></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <span>RapidRX</span>
                            <br>
                            <br>
                        
                            Medical website that allows users to store their
                            medical history, predict diseases like diabetes, and enables medical institutions
                            to upload medical analyses and diagnoses directly to user profiles.
                        </p>
                        <span>
                            Technologies: Angular | NodeJS
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 d-flex align-items-stretch">
                <div class="card border-0 rounded-2 ">
                    <div class="image position-relative">
                        <img src="assets/imgs/edu.png" class="card-img-top" alt="...">
                        <div
                            class="layer d-flex justify-content-center align-items-center rounded-2 container position-absolute top-0 bottom-0 end-0 start-0">
                            <div class="icons me-3 d-flex justify-content-center align-items-center">
                                <a href="https://github.com/nouranmostafa235/Edu_dist" target="_blank"
                                    class="text-decoration-none">
                                    <i class="fa-brands fs-2 fa-github" ></i>
                                </a>
                            </div>
                            <div class="icons d-flex justify-content-center align-items-center">
                                <a href="https://edu-dist.vercel.app/signin" target="_blank"
                                    class="text-decoration-none"> <i class="fa-solid fa-link fs-3"
                                        ></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body ">
                        <p class="card-text">
                            <span>SMARTED</span>
                            <br>
                            <br>
                        
                            Educational website that allows teachers to enroll students into course , upload courses and
                            view all courses.
                            help students to upload assignments and view all courses with their degrees.
                        </p>
                        <span>
                            Technologies: Angular | Laravel
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 d-flex align-items-stretch">
                <div class="card border-0 rounded-2 ">
                    <div class="image position-relative">
                        <img src="assets/imgs/freshCart.png" class="card-img-top" alt="...">
                        <div
                            class="layer d-flex justify-content-center align-items-center rounded-2 container position-absolute top-0 bottom-0 end-0 start-0">
                            <div class="icons me-3 d-flex justify-content-center align-items-center">
                                <a href="https://github.com/nouranmostafa235/freshCart" target="_blank"
                                    class="text-decoration-none">
                                    <i class="fa-brands fs-2 fa-github" ></i>
                                </a>
                            </div>
                            <div class="icons d-flex justify-content-center align-items-center">
                                <a href="https://fresh-cart-smoky.vercel.app/login" target="_blank"
                                    class="text-decoration-none">
                                    <i class="fa-solid fa-link fs-3" ></i>
                                </a>

                            </div>
                        </div>
                    </div>
                    <div class="card-body ">
                        <p class="card-text">
                            <span>Fresh Cart</span>
                            <br>
                            <br>
                        
                            E-Commerce website that allows users to browse products, add
                            items to their cart, and proceed through a streamlined checkout process.
                        </p>
                        <span>
                            Technologies: Angular | NodeJS
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 d-flex align-items-stretch">
                <div class="card border-0 rounded-2 ">
                    <div class="image position-relative">
                        <img src="assets/imgs/task.png" class="card-img-top" alt="...">
                        <div
                            class="layer d-flex justify-content-center align-items-center rounded-2 container position-absolute top-0 bottom-0 end-0 start-0">
                            <div class="icons me-3 d-flex justify-content-center align-items-center">
                                <a href="https://github.com/nouranmostafa235/routeTask" target="_blank"
                                    class="text-decoration-none">
                                    <i class="fa-brands fs-2 fa-github" ></i>
                                </a>
                            </div>
                            <div class="icons d-flex justify-content-center align-items-center">
                                <a href="https://task-json-server.vercel.app/home" target="_blank"
                                    class="text-decoration-none">
                                    <i class="fa-solid fa-link fs-3" ></i>
                                </a>

                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <span>JSON Server</span>
                            <br>
                            <br>
                        
                            website that shows data in local json server in a table and route for each user to show all
                            user's data with a graph shows his transactions using ngCharts.
                        </p>
                        <span>
                            Technologies: Angular | JSON Server
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 d-flex align-items-stretch">
                <div class="card border-0 rounded-2 ">
                    <div class="image position-relative">
                        <img src="assets/imgs/weather.png" class="card-img-top" alt="...">
                        <div
                            class="layer d-flex justify-content-center align-items-center rounded-2 container position-absolute top-0 bottom-0 end-0 start-0">
                            <div class="icons me-3 d-flex justify-content-center align-items-center">
                                <a href="https://github.com/nouranmostafa235/weather-api" target="_blank"
                                    class="text-decoration-none">
                                    <i class="fa-brands fs-2 fa-github" ></i>
                                </a>
                            </div>
                            <div class="icons d-flex justify-content-center align-items-center">
                                <a href="https://nouranmostafa235.github.io/weather-api/" target="_blank"
                                    class="text-decoration-none">
                                    <i class="fa-solid fa-link fs-3" ></i>
                                </a>
                               
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <span>Weather System</span>
                            <br>
                            <br>
                        
                            Weather website that uses weather api to show all countries weather and provided with search functionality to search countries.
                        </p>
                        <span>
                            Technologies: HTML5 | CSS3 | JS
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 d-flex align-items-stretch">
                <div class="card border-0 rounded-2 ">
                    <div class="image position-relative">
                        <img src="assets/imgs/yummy.png" class="card-img-top" alt="...">
                        <div
                            class="layer d-flex justify-content-center align-items-center rounded-2 container position-absolute top-0 bottom-0 end-0 start-0">
                            <div class="icons me-3 d-flex justify-content-center align-items-center">
                                <a href="https://github.com/nouranmostafa235/yummy" target="_blank"
                                    class="text-decoration-none">
                                    <i class="fa-brands fs-2 fa-github" ></i>
                                </a>
                            </div>
                            <div class="icons d-flex justify-content-center align-items-center">
                                <a href="https://nouranmostafa235.github.io/yummy/" target="_blank"
                                    class="text-decoration-none">
                                    <i class="fa-solid fa-link fs-3" ></i>
                                </a>
                               
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <span>Yummy</span>
                            <br>
                            <br>
                        
                             Website that use meals api to show meals, meal's details , categories of meals and all countries' meals.
                        </p>
                        <span>
                            Technologies: HTML5 | CSS3 | JS
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 d-flex align-items-stretch">
                <div class="card border-0 rounded-2 ">
                    <div class="image position-relative">
                        <img src="assets/imgs/calculater.png" class="card-img-top" alt="...">
                        <div
                            class="layer d-flex justify-content-center align-items-center rounded-2 container position-absolute top-0 bottom-0 end-0 start-0">
                            <div class="icons me-3 d-flex justify-content-center align-items-center">
                                <a href="https://github.com/nouranmostafa235/simple-calculater-withoutBuiltInFunctions" target="_blank"
                                    class="text-decoration-none">
                                    <i class="fa-brands fs-2 fa-github" ></i>
                                </a>
                            </div>
                            <div class="icons d-flex justify-content-center align-items-center">
                                <a href="https://nouranmostafa235.github.io/simple-calculater-withoutBuiltInFunctions/" target="_blank"
                                    class="text-decoration-none">
                                    <i class="fa-solid fa-link fs-3" ></i>
                                </a>
                               
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <span>Calculator</span>
                            <br>
                            <br>
                        
                            Simple design for calculater that can do simple mathmatical operations .
                        </p>
                        <span>
                            Technologies: HTML5 | CSS3 | JS
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 d-flex align-items-stretch">
                <div class="card border-0 rounded-2 ">
                    <div class="image position-relative">
                        <img src="assets/imgs/crud.png" class="card-img-top" alt="...">
                        <div
                            class="layer d-flex justify-content-center align-items-center rounded-2 container position-absolute top-0 bottom-0 end-0 start-0">
                            <div class="icons me-3 d-flex justify-content-center align-items-center">
                                <a href="https://github.com/nouranmostafa235/Bookmark" target="_blank"
                                    class="text-decoration-none">
                                    <i class="fa-brands fs-2 fa-github" ></i>
                                </a>
                            </div>
                            <div class="icons d-flex justify-content-center align-items-center">
                                <a href="https://nouranmostafa235.github.io/Bookmark/" target="_blank"
                                    class="text-decoration-none">
                                    <i class="fa-solid fa-link fs-3" ></i>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <span>Book Mark</span>
                            <br>
                            <br>
                        
                            CRUD system that allow user to add, visit, edit and delete books.
                        </p>
                        <span>
                            Technologies: HTML5 | CSS3 | JS
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4 d-flex align-items-stretch">
                <div class="card border-0 rounded-2 ">
                    <div class="image position-relative">
                        <img src="assets/imgs/portfolio.png" class="card-img-top" alt="...">
                        <div
                            class="layer d-flex justify-content-center align-items-center rounded-2 container position-absolute top-0 bottom-0 end-0 start-0">
                            <div class="icons me-3 d-flex justify-content-center align-items-center">
                                <a href="https://github.com/nouranmostafa235/Daniels" target="_blank"
                                    class="text-decoration-none">
                                    <i class="fa-brands fs-2 fa-github" ></i>
                                </a>
                            </div>
                            <div class="icons d-flex justify-content-center align-items-center">
                                <a href="https://nouranmostafa235.github.io/Daniels/" target="_blank"
                                    class="text-decoration-none">
                                    <i class="fa-solid fa-link fs-3" ></i>
                                </a>
                               
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <span>Daniel's Portfolio</span>
                            <br>
                            <br>
                        
                            Portfolio design that show developer personal info, skills, projects, testimonials and contacts.
                        </p>
                        <span>
                            Technologies: Angular | Laravel
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>