.initial-visible {
    opacity: 1;
    transition:all 0.4s ease-out;
}

.start-animate {
    background: rgb(12, 235, 235);
    background: -webkit-linear-gradient(to right, rgb(41, 255, 198), rgb(32, 227, 178), rgb(12, 235, 235));
    background: linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);
    padding: 15px 0;
    box-shadow: 1px 10px 20px -4px rgba(105,90,90,0.75);
}
a{
    cursor: pointer;
}