
<div class="skills pt-5">
    <div class="container">
        <h3 class="education mb-4 text-center">SKILLS</h3>
        <div class="row me-0 justify-content-between text-white">
            <div class="col-sm-5 mb-5">
                <p>HTML5</p>
                <div class="progress rounded-0" role="progressbar" aria-label="Example with label" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar html rounded-end-3" style="width: 90% "></div>
                  </div>
            </div>
            <div class="col-sm-5 mb-5">
                <p>CSS3</p>
                <div class="progress rounded-0" role="progressbar" aria-label="Example with label" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar css rounded-end-3" style="width: 90%"></div>
                  </div>
            </div>
            <div class="col-sm-5 mb-5">
                <p>JavaScript</p>
                <div class="progress rounded-0" role="progressbar" aria-label="Example with label" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar js rounded-end-3" style="width: 90%"></div>
                  </div>
            </div>
            <div class="col-sm-5 mb-5">
                <p>TypeScript</p>
                <div class="progress rounded-0" role="progressbar" aria-label="Example with label" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar ts rounded-end-3" style="width: 80%"></div>
                  </div>
            </div>
            <div class="col-sm-5 mb-5">
                <p>BootStrap and Tailwind</p>
                <div class="progress rounded-0" role="progressbar" aria-label="Example with label" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar tailwind rounded-end-3" style="width: 90%"></div>
                  </div>
            </div>
            <div class="col-sm-5 mb-5">
                <p>Angular</p>
                <div class="progress rounded-0" role="progressbar" aria-label="Example with label" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar angular rounded-end-3" style="width: 75%"></div>
                  </div>
            </div>
            <div class="col-sm-5 mb-5">
                <p>RXJS, Angular CLI and NPM</p>
                <div class="progress rounded-0" role="progressbar" aria-label="Example with label" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar cli rounded-end-3" style="width: 75%"></div>
                  </div>
            </div>
            <div class="col-sm-5 mb-5">
                <p>RESTful APIs, JSON and AJAX </p>
                <div class="progress rounded-0" role="progressbar" aria-label="Example with label" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar api rounded-end-3" style="width: 70%"></div>
                  </div>
            </div>
            <div class="col-sm-5 mb-5">
                <p>Unit Testing</p>
                <div class="progress rounded-0" role="progressbar" aria-label="Example with label" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar testing rounded-end-3" style="width: 60%"></div>
                  </div>
            </div>
            <div class="col-sm-5 mb-5">
                <p>GIT</p>
                <div class="progress rounded-0" role="progressbar" aria-label="Example with label" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar git rounded-end-3" style="width: 70%"></div>
                  </div>
            </div>
        </div>
    </div>
</div>

