<div class="exper pt-5">
    <div class="container">
        <h3 class="education mb-4 text-center">WORK EXPERIENCE</h3>
        <div class="d-flex  flex-column text-center pt-5 align-items-center justify-content-evenly">
            <div class="col-sm-4 ">
                <h3 class="degree">Odoo Developer</h3>
                <h6 class="text-white"> Pro Tech software solutions </h6>
                <p class="date">OCT 2024 - Present</p>
            </div>
            <div class="col-sm-1 line mb-5 mt-5"></div>
            <div class="col-sm-4 ">
                <h3 class="degree">Programming Instructor</h3>
                <h6 class="text-white"> ISchool </h6>
                <p class="date">Oct 2024 - Present</p>
            </div>
            <div class="col-sm-1 line mb-5 mt-5"></div>
            <div class="col-sm-4 ">
                <h3 class="degree">Angular Instructor</h3>
                <h6 class="text-white"> MSG Technology </h6>
                <p class="date">AUG 2024 - Present</p>
            </div>
            <div class="col-sm-1 line mb-5 mt-5"></div>
            <div class="col-sm-4 mb-5">
                <h3 class="degree">FRONT-END Trainee</h3>
                <h6 class="text-white"> Route Academy </h6>
                <p class="date">MAY 2023 - SEP 2023</p>
            </div>
        </div>
    </div>
</div>