<head>
   
</head>
<div class="home vh-100 position-relative">
    <div
        class="ps-5 layer text-white d-flex flex-column justify-content-center position-absolute top-0 bottom-0 end-0 start-0">
      <div #targetElement [class.start-animate]="animateOnScroll" class="initial-visible" >
        <p class="hello animate__animated animate__slideInLeft">Hello!</p>
        <p class="name animate__animated animate__slideInLeft animate__delay-1s">I'm Nouran Mostafa</p>
        <h4 class="animate__animated animate__slideInLeft animate__delay-1s">Front-End Angular Developer</h4>
      </div>
    </div>
</div>